@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-image: linear-gradient(#636162, #b1afaf);
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;
}
*{
	margin: 0px; padding: 0px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.main{
	background-color: rgb(187, 238, 5);
	height: 850px;
	width: 900px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 60%;
}
.left{
	background-color: #66ff00;
	width: 250px;
	height: 100%;
	float: left;
}
.right{
	width: 650px;
	float: left;
}
.profile-img{
	height: 250px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 110px;
	border: 10px solid #ffffff;
	box-shadow: 6px 7px 9px 5px #91ff0073;
}
.profile-img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.box-1{
	position: relative;
}
.heading{
	background-color: #00b41e;
	padding: 15px;
	color: #000000;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}
.heading::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
}
.p1{
	padding: 9px 10px;
	font-size: 15px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}
.html{
	width: 90%;
	background-color: white;
}
.css{
	width: 80%;
	background-color: white;
}

.bootstrap{
	width: 80%;
	background-color: white;
}

.bing{
	width: 90%;
	background-color: white;
	
}


.name-div{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}
.name-div h1{
	margin-bottom: 10px;
}



.p2 span{
	font-size: 12px;
}

.span1{
	background: #b1afaf;
	width: 30px;
	padding: 6px;
	border-radius: 16px;
	float: left;
	margin-right: 10px;
}

.right section{
	padding: 40px, 30px;
	background: var(--white);
	width: 68%;
	float: left;
	height: 500px;
}

.right section img{
	background: var(--black);
	width: 36px;
	padding: 7px;
	border-radius: 17px;
	float: left;
	display: inline-block;
	margin-top: 50px;
}
.box-2{
	padding: 0px 50px;
	margin-top: 30px;
}
.p2{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
	font-size: 16px;
	margin-bottom: 30px;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
.p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.p3 span{
	color: #ff9b00; padding-left: 20px;
}

div.gallery {
	margin: 5px;
	border: 0px solid #ffffff;
	font-size: 8px;
	float: left;
	width: 150px;
	
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 2px;
	text-align: center;
  }